<!-- left-navigation.component.ts --> 
<div id="left-navigation" uk-offcanvas> 
	<div class="uk-offcanvas-bar"> 
		<button class="uk-offcanvas-close" type="button" uk-close></button> 

	<ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical"> 
		<h2>Open-journal</h2> 
		<p class="uk-article-meta">"fun and easy journals for everyone, for anywhere"</p> 
		<li><a href="#">My Journals</a></li> 
		<li class="uk-nav-divider"></li> 
		<li><a href="#">Sign-out</a></li> 
	</ul>
	</div> 
</div>
