<!-- journals.component.html -->
<div class="uk-section uk-container">
<div class="uk-margin">
<legend class="uk-legend">My Journals</legend>
</div>
<div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
<div>
	
	<button [routerLink]="['create-journal']" class="uk-card uk-card-body uk-width-1-2@m" style="border: 1px dashed grey;">
		<span uk-icon="plus">
		</span>
		<span uk-icon="file-text">
		</span>
		<br/>
	</button>
</div>
<div>
	<div class="uk-card uk-card-body uk-width-1-2@m" style="border: 1px dashed grey;">
		<h3 class="uk-card-title">Food Recipes</h3>
		<p>This has tasty food recipes I learnt over the years.</p>
		<button class="uk-button uk-button-primary uk-button-small uk-margin-right">View</button>
		<button class="uk-button uk-button-danger uk-button-small">Delete</button>
	</div>
</div>
</div>
</div>
